### import dependencies

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.compose import ColumnTransformer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, InputLayer
from sklearn.metrics import classification_report
from tensorflow.keras.utils import to_categorical
import numpy as np

### load  and structure data

In [2]:
data = pd.read_csv("heart_failure.csv")
data.head()

,Unnamed: 0,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,death_event
0,0,75.0,no,582,no,20,yes,265000.00,1.9,130,yes,no,4,1,yes
1,1,55.0,no,7861,no,38,no,263358.03,1.1,136,yes,no,6,1,yes
2,2,65.0,no,146,no,20,no,162000.00,1.3,129,yes,yes,7,1,yes
3,3,50.0,yes,111,no,20,no,210000.00,1.9,137,yes,no,7,1,yes
4,4,65.0,yes,160,yes,20,no,327000.00,2.7,116,no,no,8,1,yes

In [3]:
print('Classes and number of values in the dataset',Counter(data['DEATH_EVENT']))

Classes and number of values in the dataset Counter({0: 203, 1: 96})

In [4]:
y = data.DEATH_EVENT
y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [5]:
x = data.iloc[:,1:-2]
x

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,no,582,no,20,yes,265000.00,1.9,130,yes,no,4
1,55.0,no,7861,no,38,no,263358.03,1.1,136,yes,no,6
2,65.0,no,146,no,20,no,162000.00,1.3,129,yes,yes,7
3,50.0,yes,111,no,20,no,210000.00,1.9,137,yes,no,7
4,65.0,yes,160,yes,20,no,327000.00,2.7,116,no,no,8
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,no,61,yes,38,yes,155000.00,1.1,143,yes,yes,270
295,55.0,no,1820,no,38,no,270000.00,1.2,139,no,no,271
296,45.0,no,2060,yes,60,no,742000.00,0.8,138,no,no,278
297,45.0,no,2413,no,38,no,140000.00,1.4,140,yes,yes,280
298,50.0,no,196,no,45,no,395000.00,1.6,136,yes,yes,285

In [6]:
x = pd.get_dummies(x)
x

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia_no,anaemia_yes,diabetes_no,diabetes_yes,high_blood_pressure_no,high_blood_pressure_yes,sex_no,sex_yes,smoking_no,smoking_yes
0,75.0,582,20,265000.00,1.9,130,4,1,0,1,0,0,1,0,1,1,0
1,55.0,7861,38,263358.03,1.1,136,6,1,0,1,0,1,0,0,1,1,0
2,65.0,146,20,162000.00,1.3,129,7,1,0,1,0,1,0,0,1,0,1
3,50.0,111,20,210000.00,1.9,137,7,0,1,1,0,1,0,0,1,1,0
4,65.0,160,20,327000.00,2.7,116,8,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,61,38,155000.00,1.1,143,270,1,0,0,1,0,1,0,1,0,1
295,55.0,1820,38,270000.00,1.2,139,271,1,0,1,0,1,0,1,0,1,0
296,45.0,2060,60,742000.00,0.8,138,278,1,0,0,1,1,0,1,0,1,0
297,45.0,2413,38,140000.00,1.4,140,280,1,0,1,0,1,0,0,1,0,1
298,50.0,196,45,395000.00,1.6,136,285,1,0,1,0,1,0,0,1,0,1

In [7]:

X_train, X_test, Y_train, Y_test =train_test_split(x,y,test_size=0.3,random_state=2)

In [8]:
# numerical_features = X_train.select_dtypes(include=['float64', 'int64'])
# numerical_columns = numerical_features.columns

ct =ColumnTransformer([("numeric",StandardScaler(), ['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium','time'])])

In [9]:
X_train = ct.fit_transform(X_train)
X_test =ct.transform(X_test)
X_train

array([[-1.37930059, -0.0232996 ,  3.41634504, ..., -0.20225761,
         0.05580055, -0.85373429],
       [-1.05326048, -0.51674883, -0.70567386, ..., -0.37041079,
         0.29380697, -1.50017555],
       [-0.15665018,  0.14577065,  0.11872992, ..., -0.18357393,
        -2.56227013, -0.49882535],
       ...,
       [ 1.88110049,  5.18642329, -0.29347197, ..., -0.37041079,
        -1.13423158, -0.73965641],
       [ 1.63657041, -0.22284182,  0.9431337 , ..., -0.09015549,
        -0.18220588, -1.48750024],
       [ 0.25089995, -0.0232996 ,  0.11872992, ..., -0.37041079,
         0.29380697,  0.12226528]])

In [10]:
le = LabelEncoder()
Y_train = le.fit_transform(Y_train.astype(str))
Y_test =le.transform(Y_test.astype(str))
Y_train

array([0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0])

In [11]:
Y_train = to_categorical(Y_train)
Y_test = to_categorical(Y_test)
Y_train

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.]], dtype=float32)

### build model

In [12]:
model = Sequential()
# model.summary()

In [13]:
model.add(InputLayer(input_shape=(X_train.shape[1],)))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
Total params: 0
Trainable params: 0
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.add(Dense(12,activation = "relu"))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                96
=================================================================
Total params: 96
Trainable params: 96
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.add(Dense(2,activation ="softmax"))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                96
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 26
=================================================================
Total params: 122
Trainable params: 122
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.compile(loss="categorical_crossentropy", optimizer = "adam",metrics=["accuracy"])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                96
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 26
=================================================================
Total params: 122
Trainable params: 122
Non-trainable params: 0
_________________________________________________________________

In [17]:
model.fit(X_train,Y_train,epochs=100,batch_size =16,verbose=1)

Epoch 1/100
14/14 [==============================] - 0s 2ms/step - loss: 0.8148 - accuracy: 0.4211
Epoch 2/100
14/14 [==============================] - 0s 1ms/step - loss: 0.7786 - accuracy: 0.4354
Epoch 3/100
14/14 [==============================] - 0s 1ms/step - loss: 0.7495 - accuracy: 0.4928
Epoch 4/100
14/14 [==============================] - 0s 1ms/step - loss: 0.7215 - accuracy: 0.5502
Epoch 5/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6953 - accuracy: 0.6364
Epoch 6/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6756 - accuracy: 0.6794
Epoch 7/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6583 - accuracy: 0.7033
Epoch 8/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6423 - accuracy: 0.7177
Epoch 9/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6262 - accuracy: 0.7416
Epoch 10/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6130 - accuracy: 0.7512
Epoch 11/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6004 - accuracy: 0.7560
Epoch 12/100
14/14 [==============================] - 0s 1ms/step - loss: 0.5904 - accuracy: 0.7608
Epoch 13/100
14/14 [==============================] - 0s 1ms/step - loss: 0.5807 - accuracy: 0.7751
Epoch 14/100
14/14 [==============================] - 0s 2ms/step - loss: 0.5705 - accuracy: 0.7799
Epoch 15/100
14/14 [==============================] - 0s 1ms/step - loss: 0.5596 - accuracy: 0.7799
Epoch 16/100
14/14 [==============================] - 0s 2ms/step - loss: 0.5505 - accuracy: 0.7799
Epoch 17/100
14/14 [==============================] - 0s 2ms/step - loss: 0.5406 - accuracy: 0.7799
Epoch 18/100
14/14 [==============================] - 0s 1ms/step - loss: 0.5316 - accuracy: 0.7943
Epoch 19/100
14/14 [==============================] - 0s 1ms/step - loss: 0.5230 - accuracy: 0.7943
Epoch 20/100
14/14 [==============================] - 0s 2ms/step - loss: 0.5149 - accuracy: 0.7990
Epoch 21/100
14/14 [==============================] - 0s 2ms/step - loss: 0.5090 - accuracy: 0.7990
Epoch 22/100
14/14 [==============================] - 0s 1ms/step - loss: 0.5020 - accuracy: 0.7990
Epoch 23/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4952 - accuracy: 0.7990
Epoch 24/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4887 - accuracy: 0.7943
Epoch 25/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4825 - accuracy: 0.7943
Epoch 26/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4765 - accuracy: 0.7990
Epoch 27/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4722 - accuracy: 0.8038
Epoch 28/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4664 - accuracy: 0.8038
Epoch 29/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4622 - accuracy: 0.7990
Epoch 30/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4575 - accuracy: 0.8086
Epoch 31/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4533 - accuracy: 0.8134
Epoch 32/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4491 - accuracy: 0.8086
Epoch 33/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4448 - accuracy: 0.8182
Epoch 34/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4411 - accuracy: 0.8182
Epoch 35/100
14/14 [==============================] - ETA: 0s - loss: 0.6647 - accuracy: 0.56 - 0s 2ms/step - loss: 0.4379 - accuracy: 0.8134
Epoch 36/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4335 - accuracy: 0.8182
Epoch 37/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.8134
Epoch 38/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4258 - accuracy: 0.8086
Epoch 39/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4228 - accuracy: 0.8086
Epoch 40/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4196 - accuracy: 0.8038
Epoch 41/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4162 - accuracy: 0.8038
Epoch 42/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4136 - accuracy: 0.8038
Epoch 43/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4110 - accuracy: 0.8038
Epoch 44/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4080 - accuracy: 0.8038
Epoch 45/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4051 - accuracy: 0.8038
Epoch 46/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4025 - accuracy: 0.8038
Epoch 47/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3999 - accuracy: 0.8086
Epoch 48/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3982 - accuracy: 0.8134
Epoch 49/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3956 - accuracy: 0.8182
Epoch 50/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3947 - accuracy: 0.8134
Epoch 51/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3931 - accuracy: 0.8134
Epoch 52/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3909 - accuracy: 0.8086
Epoch 53/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3893 - accuracy: 0.8182
Epoch 54/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3876 - accuracy: 0.8182
Epoch 55/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3859 - accuracy: 0.8182
Epoch 56/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3836 - accuracy: 0.8182
Epoch 57/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3819 - accuracy: 0.8230
Epoch 58/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3803 - accuracy: 0.8230
Epoch 59/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3783 - accuracy: 0.8278
Epoch 60/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3773 - accuracy: 0.8278
Epoch 61/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3750 - accuracy: 0.8325
Epoch 62/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3735 - accuracy: 0.8325
Epoch 63/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3719 - accuracy: 0.8325
Epoch 64/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3704 - accuracy: 0.8325
Epoch 65/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3689 - accuracy: 0.8278
Epoch 66/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3677 - accuracy: 0.8278
Epoch 67/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3662 - accuracy: 0.8278
Epoch 68/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3652 - accuracy: 0.8278
Epoch 69/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3645 - accuracy: 0.8278
Epoch 70/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3638 - accuracy: 0.8325
Epoch 71/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3628 - accuracy: 0.8278
Epoch 72/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3618 - accuracy: 0.8278
Epoch 73/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3605 - accuracy: 0.8325
Epoch 74/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3591 - accuracy: 0.8278
Epoch 75/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3577 - accuracy: 0.8278
Epoch 76/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3564 - accuracy: 0.8230
Epoch 77/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3567 - accuracy: 0.8182
Epoch 78/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3558 - accuracy: 0.8182
Epoch 79/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3544 - accuracy: 0.8182
Epoch 80/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3538 - accuracy: 0.8182
Epoch 81/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3534 - accuracy: 0.8230
Epoch 82/100

14/14 [==============================] - 0s 1ms/step - loss: 0.3515 - accuracy: 0.8230
Epoch 83/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3507 - accuracy: 0.8230
Epoch 84/100
14/14 [==============================] - 0s 3ms/step - loss: 0.3496 - accuracy: 0.8278
Epoch 85/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3488 - accuracy: 0.8278
Epoch 86/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3477 - accuracy: 0.8325
Epoch 87/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3472 - accuracy: 0.8278
Epoch 88/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3460 - accuracy: 0.8230
Epoch 89/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8230
Epoch 90/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8373
Epoch 91/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8373
Epoch 92/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8469
Epoch 93/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8517
Epoch 94/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3414 - accuracy: 0.8565
Epoch 95/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8612
Epoch 96/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8565
Epoch 97/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8517
Epoch 98/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8517
Epoch 99/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8517
Epoch 100/100
14/14 [==============================] - ETA: 0s - loss: 0.6310 - accuracy: 0.75 - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8517

In [18]:
loss,acc =model.evaluate(X_test,Y_test)
loss

3/3 [==============================] - 0s 1ms/step - loss: 0.3407 - accuracy: 0.8333

0.3407241702079773

In [19]:
y_estimate = model.predict(X_test)

In [20]:
y_true = np.argmax(Y_test,axis=1)
y_estimate = np.argmax(y_estimate,axis=1)

In [21]:
print(classification_report(y_true=y_true,y_pred=y_estimate))

              precision    recall  f1-score   support

           0       0.89      0.88      0.89        66
           1       0.68      0.71      0.69        24

    accuracy                           0.83        90
   macro avg       0.79      0.79      0.79        90
weighted avg       0.84      0.83      0.83        90